.movementWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.movement{
    background-color: lightgray;   
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 600;
}
.moveContainer{
    padding: 2rem;
}
.moveContainer h2{
    margin-bottom: 2rem;
}