.back{
    width: 100%;
    height: 2rem;
    background-color: #e1e1e1;
    border-radius: 5px;
}

.bar{
    background: linear-gradient(270deg,#d98021,#f6b54c);
    height: 100%;
    border-radius: 5px;
}
.statInfo{
    display: flex;
    justify-content: space-between;
}

.statInfo span {
    font-weight: bold;
}
.statWrapper{
    margin-bottom: 1.5rem;
}