.idWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.id{
    border: 1px solid lightgray;
    padding: 0 8px;
    border-radius: 4px;
}
.idCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px lightgray solid;
    padding: 1rem;
    border-radius: 15px;
    width: 80vw;
    max-width: 800px;
    margin-bottom: 2rem;
}
.idCard img{
    width: 250px;
    position: absolute;
    top: 150px;
    z-index: 2;
}

.typeBox{
    width: 100%;
    height: 300px;
    z-index: 1;
}
.typeBox.overlay{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    z-index: 0;
}
.pokeSize{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 15px;
    width: 85%;
    gap: 10px;
}
.pokeSize li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats{
    width: 100%;
    padding: 1rem 4rem;
    margin-top: 50px;
}






.grass {
    
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(45,253,70,0.8660968660968661) 100%);
}

.fire {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(249,10,10,0.8660968660968661) 100%);
}

.water {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(10,34,249,0.8660968660968661) 100%);
}

.bug {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(206,249,10,0.8660968660968661) 100%);
}

.flying {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(10,206,249,0.8660968660968661) 100%);
}

.normal {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(249,165,10,0.8660968660968661) 100%);
}

.poison {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(169,10,249,0.8660968660968661) 100%);
}

.ground {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(249,108,10,0.8660968660968661) 100%);
}

.electric {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(230,249,10,0.8660968660968661) 100%);
}

.rock {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(198,61,0,0.8660968660968661) 100%);
}

.steel {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(120,119,119,0.8660968660968661) 100%);
}

.ice {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.44729344729344733) 0%, rgba(16,148,138,0.8660968660968661) 100%);
}

.dragon {
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(63,94,251,1) 44%, rgba(252,70,107,1) 100%);
}

.ghost {
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(45,3,167,1) 54%, rgba(198,70,252,1) 88%);
}

.dark {
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(14,2,51,1) 78%, rgba(189,1,1,1) 100%);
}

.fighting {
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(121,8,8,1) 68%, rgba(255,0,0,1) 100%);
}

.psychic {
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(179,59,175,1) 68%, rgba(255,0,174,1) 100%);
}

.fairy{
    background: rgb(156,82,180);
background: linear-gradient(0deg, rgba(156,82,180,0.04843304843304841) 2%, rgba(255,148,252,1) 68%, rgba(255,143,219,1) 100%);
}

.linea {
    margin:0px 20px;
    width: 90px;    
    border-top:1px solid #999;
    position: relative;
    top:10px;
    float:left;
}


.grass.title {
    color: #426460;
    background: none;
    font-weight: bold;
    float: left;
}

.fire.title {
    color: #644242;
    background: none;
    font-weight: bold;
    float: left;
}

.water.title {
    color: #424764;
    background: none;
    font-weight: bold;
    float: left;
}

.bug.title {
    color: #526442;
    background: none;
    font-weight: bold;
    float: left;
}

.flying.title {
    color: #426460;
    background: none;
    font-weight: bold;
    float: left;
}

.normal.title {
    color: #645942;
    background: none;
    font-weight: bold;
    float: left;
}

.poison.title {
    color: #5f4264;
    background: none;
    font-weight: bold;
    float: left;
}

.ground.title {
    color: #645b42;
    background: none;
    font-weight: bold;
    float: left;
}

.electric.title {
    color: #696930;
    background: none;
    font-weight: bold;
    float: left;
}

.rock.title {
    color: #645542;
    background: none;
    font-weight: bold;
    float: left;
}

.steel.title {
    color: #444746;
    background: none;
    font-weight: bold;
    float: left;
}

.ice.title {
    color: #426460;
    background: none;
    font-weight: bold;
    float: left;
}

.dragon.title {
    color: #5a3c60;
    background: none;
    font-weight: bold;
    float: left;
}

.ghost.title {
    color: #644262;
    background: none;
    font-weight: bold;
    float: left; 
}

.dark.title {
    color: #232c2b;
    background: none;
    font-weight: bold;
    float: left;
}

.fighting.title {
    color: #603939;
    background: none;
    font-weight: bold;
    float: left;    
}

.psychic.title {
    color: #644263;
    background: none;
    font-weight: bold;
    float: left;    
}

.fairy.title{
    color: #9b5ea3;
    background: none;
    font-weight: bold;
    float: left;    
}

@media (max-width: 450px) {
    .linea {
        display: none;
    }
}